<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h2><%= @restaurant.name %> restaurant</h2>
      <hr>
      <p><strong>Address:</strong>
        <%= @restaurant.address %>
      </p>
      <p><strong>Contact:</strong>
        <%= @restaurant.phone_number %>
      </p>
      <p><strong>Category:</strong>
        <%= @restaurant.category %>
      </p>
      <!-- added column chef for restaurant -->
      <p><strong>Chef:</strong>
        <%= @restaurant.chef %>
      </p>
      <!-- I NEED TO ITERATE THROUH REVIEWS -->

      <div class="list-group">
        <p><strong>Reviews:</strong></p>
          <% @restaurant.reviews.each do |review| %>
            <li class="list-group-item">
              <%= @restaurant.name %>
              <!-- smaller icons displayed -->
              <small>
                <% count = 0 %>
                <% 5.times do %>
                  <% if review.rating > count %>
                  <!-- show full star otherwise empty icons-->
                    <i class="fas fa-bomb"></i>
                  <!-- < else >
                    <i class="far fa-star"></i> -->
                  <% end %>
                  <!-- increase by 1 and repeat -->
                  <% count +=1 %>
                <% end %>
              </small>
                <!-- review content -->
              <p> - <%= review.content %></p>
            </li>

          <% end %>
      </div>

      <%= link_to "Add Review", new_restaurant_review_path(@restaurant), class: "btn btn-primary"%> |
      <%= link_to "Edit restaurant", edit_restaurant_path, class: "btn btn-success" %>
      <hr>
      <%= link_to 'Back to restaurants', restaurants_path %>
    </div>

  </div>
</div>
