<h1><%= @restaurant.name %> restaurant</h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<hr>
<%= link_to "Edit restaurant", edit_restaurant_path %>
<%= link_to 'Back to restaurants', restaurants_path %>
